@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #223971;
  --color-primary-dark: #121F45;

  --color-secondary: #CC1E4A;
  --color-tertiary: #FFC906;

  --color-danger-100: #FADFD3;
  --color-danger-200: #F6BAA9;
  --color-danger-300: #E6887A;
  --color-danger-400: #CD5955;
  --color-danger-500: #AC262D;
  --color-danger-600: #931B2C;
  --color-danger-700: #7B132B;
  --color-danger-800: #630C28;
  --color-danger-900: #520726;

  --font-sans: "Outfit", sans-serif;
  --font-display: "Playfair Display", serif;
}

@layer base {
  * {
    @apply border-gray-200 outline-gray-400/50;
  }
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-out-right {
  animation: slideOutRight 0.5s ease-out forwards !important;
  position: relative !important;
  overflow-x: hidden !important;
}

.slide-out-right::before {
  content: "Animating";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 0, 0, 0.2);
  padding: 2px;
  font-size: 10px;
  z-index: 100;
}